# 模型与权重文件
*.pth
*.onnx
*.har
*.bin
*.tsv

# 特定大文件路径
model/assets/fr.arpa.bin
model/assets/manifest.tsv
model/student_ctc_kd.pth.epoch*
model/*.pth

train/

# 缓存和中间结果
__pycache__/
*.log
*.tmp
*.out
*.npy
*.npz

train-result/student_ctc_kd.pth.epoch*